:root {
  --babyBlue: #89cff0;
  --power: #ea6d2b;
  --white: white;
  --darkGreen: rgb(0, 129, 32);
  --lightGreen: rgb(0, 150, 37);
  --width: 84%;
  --mobileWidth: 94%;
  --starYellow: #ea6d2b;
  --dustyRose: #9E606F;
}

body {
  overflow-x: hidden;
}

button {
  color: var(--white);
  background-color: var(--darkGreen);
  cursor: pointer;
  transition: all 200ms ease;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
button:hover {
  color: var(--white);
  background-color: var(--lightGreen);
  cursor: pointer;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

ul {
  list-style: none;
  padding: 4px;

}
a {
  text-decoration: none;
}

p {
  line-height: 20px;
}


#pre-loader {
  background: white url(./images/Echad-Logo-GIF.gif) no-repeat center center;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  display: block;
  z-index: 100;
  background-size: 20%;
}

body {
  font-family: "Anek Devanagari", sans-serif;
  margin: 0;
  padding: 0;
  transition: smooth;
  align-items: center;
  box-sizing: border-box;
  align-items: center;
}

.container {
  width: var(--width);
  margin-right: auto;
  margin-left: auto;
}

section {
  margin-top: 100px;
  align-items: center;
}






#sproduct .sproduct {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}



  

#sproduct img {
  width: 40vw;
  height: auto;
  border: 2px solid #89cff0;
  border-radius: 10px;
  margin: 0 40px;
  min-width: 200px;
}

#sproduct h2 {
  color: rgb(0, 150, 37);
}
#sproduct button {
padding: 20px;
margin-bottom: 30px;
border-radius: 5px;
}
#sproduct input {
width: 40px;
height: 100%;
}

#sproduct input:focus {
outline: none;
}

#sproduct .quantity {
display: flex;
gap: 20px;
}
#sproduct input {
width: 40px;
height: 50px;
font-size: 18px;
}
















#paymentHeader{
  background-color: antiquewhite;
	width: 100vw;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
  position: fixed;
  z-index: 25;
 
}
#paymentHeader .paymentCloseButton{
	padding: 20px;
  color: var(--starYellow);
  font-size: 30px;
  text-align: center;
  transition: all 200ms ease;
  width: 40%;

 
}
#paymentHeader .paymentCloseButton:hover {
  color: white;
  background-color: red;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);

 
}

#paymentHeader .paymentContainer{
	background: var(--babyBlue);
	max-width: 800px;
	min-width: 200px;
	height: 600px;
	display: flex;
	justify-content:space-between;
	align-items: center;
	padding: 4px 10px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.6);
  
  border-radius: 10px;
  
 
}
#paymentHeader .left{
	flex-basis: 50%;
}

#paymentHeader .paymentInfo{
	display: flex;
	align-items: center;
	justify-content: space-between;
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
}
#paymentHeader .paymentInfo select{
	height: 30px;
}

#paymentHeader .right{
	flex-basis: 50%;
}
#paymentHeader form{
	padding: 4px;
}

#paymentHeader h3{
	margin-top: 1rem;
	color:var(--dustyRose);
	}
#paymentHeader label {
    width: 40%;;
}
#paymentHeader label input {
  width: 80%;;
}
#paymentHeader form input[type="text"]{
	width: 80%;
	padding: 0.5rem 0.7rem;
	margin: 0.5rem 0;
	outline: none;
}

#paymentZip{
	display: flex;
	margin-top: 0.5rem;
}
#paymentZip select{
	padding: 0.5rem 0.7rem;
}
#paymentZip input[type="number"]{
	padding: 0.5rem 0.7rem;
	margin-left: 5px;	
}
input[type="submit"]{
	width: 80%;
	padding: 0.7rem 1.5rem;
	background: var(--dustyRose);
	color: white;
	border: none;
	outline: none;
	margin-top: 1rem;
	cursor: pointer;
}

input[type="submit"]:hover{
	background: var(--lightGreen);
}


@media only screen and (max-width: 770px){
	#paymentHeader .paymentContainer{
    width: 100%;
	}
	#paymentHeader form {
    font-size: 14px;
  }

  #paymentHeader select {
    font-size: 12px;
  }

  
  #paymentHeader form input[type="text"] {
    width: 90%;
    padding: 4px;
    margin: 2px;
    outline: none;
    text-align: left;
    padding: 2px;
    margin: 2px;
    font-size: 12px;

}

#paymentZip input[type="submit"] {
  text-align: left;
    padding: 2px;
    margin: 2px;
    font-size: 12px;

}
#paymentZip input[type="number"] {
  text-align: left;
    padding: 2px;
    margin: 2px;
    font-size: 12px;

}



}












/*********************** NAVBAR ***********************/









#navBar {
  margin-top: 0;
  width: 100%;
  background-color: var(--babyBlue);
  position: sticky;
  z-index: 16;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



#navBar .navTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  nav-left: auto;
}

#navBar .closeButton{
  display: none;
  
}


#navBar .mobileMenuButton{
  display: none;
}


#navBar .navTop h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--dustyRose);
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}


#navBar .navTop span {
  text-align: center;
  padding: 2px 10px;
  color: var(--darkGreen);
  background-color: var(--starYellow);
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: -30px;
  line-height: 20px;
}
#navBar .navTop ul {
  margin-right: auto;


}
#navBar .navTop ul li {
  padding: 10px 20px;
}


#navBar .navTop ul li a {
  transition: all 200ms ease;
  font-size: 16px;
  font-weight: 600;
  color: var(--dustyRose);
}
#navBar .navTop ul li a:hover {
  color: var(--darkGreen);
  text-decoration: underline;
}

#navBar .search {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
#navBar .search input {
  border: 1px solid var(--white);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: all 100ms ease;
  outline: none;
  min-width: 80px;
  width: 80%;

}

#navBar .tpsearchicon {
  transition: all 200ms ease;
  color: var(--white);
  font-size: 20px;
  padding: 4px 10px;
  border: 1px solid var(--white);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#navBar .tpsearchicon:hover {
  background-color: var(--dustyRose);
  color: var(--white);
  border: 1px solid var(--dustyRose);
}
#navBar .navBottom{
  display: flex;
  align-items: center;
  justify-content: center;
 
}

#navBar .btmsearch {

  display: none;
}


#navBar .navBottom ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: auto;
  padding-right: auto;
  margin: 0 10px;

}

#navBar .navBottom ul li {
  padding: 4px 10px;
  line-height: 14px;
  text-align: center;
}


#navBar .navBottom ul li .active {
  color: var(--darkGreen);
  text-decoration: underline;

}
#navBar .navBottom ul li a:hover {
 color: var(--darkGreen);
  text-decoration: underline;
}


#navBar .navBottom ul li a {
  transition: all 200ms ease;
  font-size: 16px;
  font-weight: 600;
  color: var(--dustyRose);
  
}



#navBar .navBottom ul .userCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:auto;
  font-size: 22px;
  transition: all 200ms ease;
  color: var(--white);
}
#navBar .navBottom ul .userCart .user {
  margin-left: 10px;
  margin-right: 10px;
}
#navBar .navBottom ul .userCart .user:hover {
  color: var(--dustyRose);
}

#navBar .navBottom ul .userCart .Cart{
  margin-left: 10px;
  margin-right: 10px;

}
#navBar .navBottom ul .userCart .Cart:hover {
  color: var(--dustyRose);
}


/************* SLIDESHOW ****************/


#slideShow {
  margin-top: 0;
  overflow: hidden;
  position: relative;
}
#slideShow .heroContent {
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: 80px;
  width: 400px;
  z-index: 2;
  height: 100%;
}

#slideShow .heroContent h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
  margin: auto;
  
}
#slideShow .content h2 span {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  color: var(--power);
}

#slideShow .content .buyButton {
  font-size: 22px;
  border-radius: 5px;
  padding: 20px;
}

/************* CTA ****************/

#cta {
  text-align: center;
  margin-right: auto;
  margin-left: auto;

}
#cta .container {
  width: 60%;
}

#cta .container h2 {
  line-height: 30px;
}

#cta .container .buyButton {
  width: 60%;
  height: 60px;
  border-radius: 5px;
  font-size: 22px;
}



/************* VIDEO ****************/

#video {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

#video .container {
  display: grid;
  place-items: center;
}

#video .container h1 {
  border-bottom: 1px solid;
}

#video .container video {
  width: 80%;
}

/************* MOST POPULAR ****************/

#popular {
text-align: center;
margin-left: auto;
margin-right: auto;
}
#popular .container {
  display: grid;
  place-items: center;
}

#popular .container h1 {
  border-bottom: 1px solid;
}


#popular .moreproductBoxLink h4 {
  text-align: center;
  padding: 10px 30px;
  background-color: var(--babyBlue);
  color: var(--white);
  border-radius: 10px;
  transition: all 200ms ease;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}


#popular .moreproductBoxLink h4:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--darkGreen);
  color: var(--white);
}

#seeMore a {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#seeMore .moreproductBoxLink h4 {
  width: 30%;
  min-width: 140px;
  text-align: center;
  padding: 10px 30px;
  background-color: var(--babyBlue);
  color: var(--white);
  border-radius: 10px;
  transition: all 200ms ease;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
#seeMore .moreproductBoxLink h4:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--darkGreen);
  color: var(--white);
}

#popular .proContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.productBox {
  position: relative;
  margin: 20px 10px;
  width: 20%;
  min-width: 220px;
  padding: 10px;
  background-color: aliceblue;
  border: 1px solid var(--babyBlue);
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease;
  z-index: 11;
}
.productBox:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.productBox img {
  width: 100%;
  border-radius: 10px;
}

.proDes {
  text-align: start;
}

.productBox span {
  font-size: 12px;
  font-weight: 400;
  color: var(--white);
  background-color: var(--babyBlue);
  padding: 0px 4px;
  border-radius: 2px;
}

.productBox h4 {
  margin: 0;
  color: black;
  margin-top: 4px;
  margin-bottom: 2px;

}
.product-star {
  color: var(--starYellow);
  font-size: 14px;
}
.product-price h4 {
  color: var(--darkGreen);
  font-size: 18px;
}
.product-cart {
  display: grid;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  color: var(--darkGreen);
  background-color: var(--babyBlue);
  text-align: center;
  bottom: 20px;
  right: 10px;
  transition: all 200ms ease;
}
.product-cart:hover {
  color: var(--white);
  background-color: var(--lightGreen);
}


/************* CUSTOMER LOGO ****************/

#customerLogo {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

#customerLogo .container {
  display: grid;
  place-items: center;
}

#customerLogo .container h1 {
  border-bottom: 1px solid;
}

#customerLogo .customerLogo {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#customerLogo .customerLogo img {
  margin: 0 10px;
}

/************* FEATURE productBox ****************/

#featureProductBox {
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#featureProductBox .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#featureProductBox .mainContainer {
  position: relative;
  margin: auto;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: smooth;
}

#featureProductBox .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  color: var(--power);
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 200ms ease;
  cursor: pointer;
}

#featureProductBox .overlay:hover  {
  opacity: 1;
  
}
#featureProductBox .overlay:hover img {
  scale:1.2;
}

#featureProductBox .mainContainer img {
  width: 100%;
  height: auto;
}



#featureProductBox .productBoxText h1 {
  border-bottom: 1px solid var(--power);
}

#featureProductBox .productBoxText p {
  line-height: 20px;
}

#featureProductBox .productBoxText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 80%;
}

/************* productBox SLIDE SHOW ****************/

#productSlideShow {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0;
}

#productSlideShow .carousel-cell {
  padding: 0 20px;
}

#productSlideShow .productBox img {
  max-width: 100%;
  height: 200px;
  display: block;
}

#productSlideShow .carousel-cell.is-selected {
  transition: all 400ms ease;
  scale: 1.1;
}






/************* TESTIMONIALs ****************/




#testimonials .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#testimonials {
  text-align: center;
}

#testimonials .testimonial {
  
  width: 30%;
  min-width: 200px;
  max-width: 300px;
  margin: 20px 10px;
  padding: 10px;
  background-color: rgb(224, 248, 255);
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  text-align: start;
  
}

#testimonials .testimonial:hover {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

#testimonials p {
  line-height: 20px;
  color: var(--darkGreen);
}

#testimonials  p span {
  font-size: 30px;
  color: var(--starYellow);
  
}

#testimonials img {
  width: 120px;
  height: 120px;
  border-radius: 50%;

}

#testimonials h4 {
  margin-top: 0;
  margin-bottom: 0;
}




/************* NEWSLETTER ****************/


#newsLetter {
  background-color: var(--babyBlue);
  padding-bottom: 20px;
}

#newsLetter .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

}

#newsLetter h4 {
  font-size: 40px;
  color: var(--darkGreen);
  margin-bottom: 0;
}
#newsLetter p {
  margin-top: 0;
  margin-bottom: 40px;
}
#newsLetter p span {
  font-weight: bold;
  color: var(--power);
}

#newsLetter .form {
  display: flex;
  width: 40%;
  min-width: 180px;

}

#newsLetter input {
  width: 100%;
  padding: 20px;
  font-size: 14px;
  border: 1px solid transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  min-width: 120px;

}
#newsLetter .signup {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  white-space: nowrap;
  width: 30%;
  min-width: 80px;
 
}



/************* FOOTER ****************/



#footer {
  background-color:var(--babyBlue);
}

#footer .section{
  display: flex;
  align-items: top;
  justify-content: space-between;

}
#footer .f1{
  width: 33.3%;
}
#footer .f1 a{
  color: black;
}
#footer .f1 i{
  color: var(--darkGreen);
}
#footer h3 {
  margin-bottom: 4px;
  color: var(--dustyRose);
}
#footer .f1 p {
  width: 75%;
  margin-top: 0;
  line-height: 20px;
}
#footer .f2 {
  text-align: start;
    width: 33.3%;
}

#footer li {
  list-style: none;
}
#footer li a{
  list-style: none;
  color:black;
  transition: all 200ms ease;
}
#footer li a:hover{
  color:white;
}

#footer .f2 img {
  width: 180px;
}




/************* COPYRIGHT ****************/



#copyright {
  width: 100%;
  background-color: var(--darkGreen);
  color:white;
  
  text-align: center;

}

#copyright .copyright {
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  
}

#copyright .copyright p{
  margin: 0;
}






/***************************** MEDEIA QUARY ******************************/









@media only screen and (min-width: 1200px) {

  #slideShow .heroContent {
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 80px;
    width: 600px;
    
}

  #slideShow .content .buyButton {
    margin-left: 120px;
  }

  #slideShow .heroContent h2 {
    font-size: 72px;
    font-weight: 700;
    line-height: 70px;
    margin-left: 120px;
  }
  #slideShow .content h2 span {
    font-size: 72px;
    font-weight: 700;
    line-height: 70px;
    color: var(--power);
  }
  
  #slideShow .content span {
    font-size: 72px;
    font-weight: 700;
    line-height: 70px;
  }

  #slideShow .heroContent {
    
    margin-left: 140px;
    
}

#navBar .navBottom ul li a {
  font-size: 18px;
}
}




@media only screen and (max-width: 1040px) {


  #navBar .navTop span {
display: none;


  }

  #navBar .navBottom ul li a {
    font-size: 14px;
  }
}



/****************** MOBILE DEVICE **********************/

@media only screen and (max-width: 780px) {

  body {
    overflow-x: hidden;
  }

  .container {
    width: var(--mobileWidth);
  }


  section {
    margin-top: 60px;
  }

  h1{
    font-size: 20px;
    line-height: 20px;

  }
  h2{
    font-size: 18px;
    line-height: 18px;
    
  }
  h3{
    font-size: 18px;
    line-height: 16px;
  }
  h4{
    font-size: 16px;
    line-height: 16px;
    
  }

  p {
    font-size: 14px;
    line-height: 14px;
  }
  
  #navBar .search {
  display: none;
  
  }

  #navBar .btmsearch {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    top: 75px;
    right: 10px;
  }
  #navBar .btmsearch input {
    border: 1px solid var(--white);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transition: all 100ms ease;
    outline: none;
    min-width: 40px;
    width: 80%;
  
  }

  #slideShow .content h2 p {
    line-height: 14px;
    font-size: 14px;
    color: black;
    max-width: 140px;
    
  }
  
  #navBar .btmsearchicon {
    transition: all 200ms ease;
    color: var(--white);
    font-size: 20px;
    padding: 4px 10px;
    border: 1px solid var(--white);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  #navBar .btmsearchicon:hover {
    background-color: var(--dustyRose);
    color: var(--white);
    border: 1px solid var(--dustyRose);
  }

#navBar .navTop h2 {
  font-size: 20px;
  text-align: left;
  line-height: 20px;
}


#navBar .navBottom ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  margin: 0;
  top: 0;
  right: 0;
  width: 75%;
  height: 75vh;
  background-color: #89cff0;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  align-items: flex-start;
  padding-top: 120px;
  padding-left: 20px;
  transition: all 100ms ease;
  display: none;
}


#navBar .mobileMenuButton{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  color: var(--dustyRose);
  padding: 4px 20px;
  text-align: center;
  cursor: pointer;
  transition: all 200ms ease;
  margin-left: 20px;
}
#navBar .mobileMenuButton:hover {
  color: var(--lightGreen);
}

#navBar .closeButton {
  font-size: 24px;
  color: var(--dustyRose);
  position: fixed;
  top: 20px;
  padding: 8px;
  display: none;
  border: 1px solid var(--dustyRose);
  border-radius: 10px;
  transition: all 200ms ease;
  margin-left: 10px;
}
#navBar .closeButton:hover {
  color: white;
  background: red;
}



#navBar .navBottom ul li {
  margin-bottom: 10px;
  
  
  }
  #navBar .navBottom ul li a{
    font-size: 16px;
    
    
  }
  #slideShow .heroContent h2 {
    font-size: 48px;
    line-height: 48px;
    margin: auto;
    max-width: 50vw;
}


  #slideShow .content .buyButton {
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 14px;
}

#cta .container h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  max-width: 100%;
}

#cta .container .buyButton {
 font-size: 16px;
 height: 40px;
}
.productBox {
  
  min-width: 180px;
  
}

#featureProductBox .productBoxText h1 {
  font-size: 16px;
}

#featureProductBox .productBoxText p {
  line-height: 12px;
  font-size: 12px;
}

#productSlideShow .carousel-cell {
  padding: 0 2px;
}

#newsLetter h4 {
  font-size: 20px;
}

#newsLetter p {
  margin-bottom: 10px;
}

#newsLetter .container {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 75vw;
}


#newsLetter input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    min-width: 120px;
}
h3 {
  font-size: 14px;
}

#footer li a {
  font-size: 14px;
}

}

#navBar .navTop h2 {
margin-left: 20px;
}

#video {
  margin-top: 20px;
}


#footer .f2 img {
  width: 160px;
}

/****************** 580 **********************/




@media only screen and (max-width: 580px) {

  body {
    overflow-x: hidden;
  }

   a {
    font-size: 14px;;
}


  section {
    margin-top: 40px;
  }

  h1{
    font-size: 18px;
    line-height: 18px;

  }
  h2{
    font-size: 16px;
    line-height: 16px;
    
  }
  h3{
    font-size: 14px;
    line-height: 14px;
    
    
  }
  h4{
    font-size: 13px;
    
    line-height: 13px;
    
  }

  p {
    font-size: 12px;
    line-height: 12px;

  }



  #sproduct .sproduct {
    display: flex;
    flex-direction: column;
}
#sproduct .details {
  width: 90%;
}




  #slideShow .heroContent h2 {
    font-size: 32px;
    line-height: 32px;
    
  margin-top: -40px;
    
}
#slideShow .heroContent h2 span {
  font-size: 32px;
  line-height: 32px;

  
}


#slideShow .heroContent {
  margin-left: 30px;
  
}

#cta {
  display: none;
}


#footer .f1 p {
  line-height: 12px;
}


#footer li a {
  font-size: 12px;
}

#featureProductBox .productBoxText p {
 display: none;
}

#featureProductBox .productBoxText h1 {
  border-bottom: none;
}
.productBox span {
font-size: 12px;

}


#footer .section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: space-between;
}

#footer .f1 {
width: 80%;
}
#footer .f2, .f3 {
width: 80%;
}

#footer .f2 img {
width: 50%;
}

  }



 @media only screen and (max-width: 320px) {
  body {
    overflow-x: hidden;
  }



  #slideShow .content .buyButton {
    margin-top: 10px;
    font-size: 14px;
    border-radius: 2px;
    padding: 3px 4px;
}



#navBar .navTop h2 {
  margin-left: 16px;
}
#slideShow .heroContent h2,#slideShow .heroContent h2 span {
  font-size: 24px;
  line-height: 24px;
  margin-top: 0;
}

#navBar .navTop ul {
  margin-right: auto 4px;
}

ul {
  margin: 4px auto;
}

 }
